/* Color Theme Swatches in Hex */
.In-the-forest-where-the-elk-used-to-live-1-hex { color: #062601; }
.In-the-forest-where-the-elk-used-to-live-2-hex { color: #318C18; }
.In-the-forest-where-the-elk-used-to-live-3-hex { color: #315915; }
.In-the-forest-where-the-elk-used-to-live-4-hex { color: #1B260B; }
.In-the-forest-where-the-elk-used-to-live-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.In-the-forest-where-the-elk-used-to-live-1-rgba { color: rgba(5, 38, 0, 1); }
.In-the-forest-where-the-elk-used-to-live-2-rgba { color: rgba(49, 140, 23, 1); }
.In-the-forest-where-the-elk-used-to-live-3-rgba { color: rgba(49, 89, 20, 1); }
.In-the-forest-where-the-elk-used-to-live-4-rgba { color: rgba(27, 38, 10, 1); }
.In-the-forest-where-the-elk-used-to-live-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.In-the-forest-where-the-elk-used-to-live-1-hsla { color: #052301; } fondo-cabecera
.In-the-forest-where-the-elk-used-to-live-2-hsla { color: #338b18; } fondo
.In-the-forest-where-the-elk-used-to-live-3-hsla { color: #305714; }
.In-the-forest-where-the-elk-used-to-live-4-hsla { color: #1a240a; } letras
.In-the-forest-where-the-elk-used-to-live-5-hsla { color: #0d0d0d; }