body{
    background-color: #338b18;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1a240a;
    font-size: 1.031em;
    line-height: 1.4em;
    text-align: justify;
    margin: 0;
}
h1{
    line-height: 1.3em;
    font-size: 1.5em;
}
h2{
    line-height: 1.3em;
    font-size: 1em;
}
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.main{
    padding-top: 10rem;
}
.externos  li a{
    margin-bottom: 1.6em;
    /*text-decoration: none;*/
    color: #1a240a;
}
.img{
    float: left;
    display: flex;
    margin-right: 1rem;
}
.img2{
    float: right;
    margin-left: 1rem;
}
.img3{
    float: left;
    margin-right: 1rem;
}
.mesa{
    float: left;
    margin-right: 1rem;
}
.columpios{
    float: left;
    margin-right: 1rem;
}
.macetas{
    float: left;
    margin-right: 1rem;
}
.basurero{
    float: left;
    margin-right: 1rem;
}
.escaleras{
    float: left;
    margin-right: 1rem;
}
.recymex{
    float: right;
    margin-left: 1rem;
}